{% extends "layout.html" %}
{% block content %}
<div clas="container">
	<h2> Tasks </h2>
	<p>
	Implement a recommender system that predicts the rating for a given (user, item) tuple.
	Complete the (user, item) tuples in the file "qualifying.csv".
	You are free in the choice of your technique(s). Be creative! Write a project report (2-5 content pages)
	where you describe your algorithm, its performance, technical details, your score.
	In the report focus on the key features of your system.
	</p>
	<h2> Exam </h2>
	<p>
	Submit the project report alongside the code and your final score until <span class="font-weight-bold text-center">31.07.18 12:00 am</span> via mail to:
	<center> matthias.mitterreiter@uni-jena.de</center>
	There will be a brief oral examination on the <span class="font-weight-bold text-center">03.08</span>, where we discuss your approach.
	Your project report and code is the basis of the discussion.
	</p>
	<h2> Advice </h2>
	<p>
		You may start with literature research. If you have questions or get stuck, ask early. Focus on quality, not quantity but if you have time, hybrid-algorithms are the way to go. Understand the methods! Use cross-validation to test your implementation.
		Your final score will not directly influence the grading, however it may indicate a deficient implementation.
	</p>
	<p>
		<div class="font-weight-bold text-center"> Have fun and happy coding!</div>
	</p>
</div>
{% endblock %}